{% extends 'base.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<h1>{{header}}</h1>
<div class="container pt-5 pb-5">
    <h3>Boards:</h3>
    <div class="row row-cols-1 row-cols-md-2 g-3">
        {% for board in boards %}
        <div class="col d-flex justify-content-center">
            <div class="card mb-3" style="max-width: 840px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../static/images/{{board.img_url}}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{board.title}}</h5>
                            <p class="card-text">{{board.description}}</p>
                            <div class="container d-flex justify-content-between pt-3">
                                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins
                                        ago</small></p>
                                <a href="/{{board.title}}">Browse
                                    <button type="button" class="btn btn-primary"> <i
                                            class="bi bi-arrow-right"></i></button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<h3>Random pic:</h3>
<div class="container pt-5 pb-5 d-flex justify-content-center">
    <div class="card" style="width: 36rem;">
        <img src="../static/images/{{random_pic}}" class="card-img-top" alt="...">
        <div class="card-body">
            <a href="/{{thread_url}}" class="card-link">Dive into thread</a>
        </div>
    </div>
</div>
{% endblock %}